.jokowi {
    background: black;
    .wrap-detikx {
        // @media screen and (max-width: 768px) {
        //     margin: -80vh auto 0;
        // }
    }
    .image {
        position: absolute;
        inset: 0;
        width: 100%;
        height: 100%;
        &::after {
            content: "";
            position: absolute;
            bottom: 0;
            right: 0;
            width: 100%;
            height: 100px;
            background: linear-gradient(to top, black, transparent);
        }
        // @media screen and (max-width: 768px) {
        //     inset: initial;
        //     right: -15%;
        //     bottom: 0;
        // }
        img {
            width: 100%;
            height: 100%;
            object-fit: contain;
        }
    }
}
