.metode {
    background: black;
    min-height: auto;
    .images {
        width: 100%;
        height: auto;
        img {
            width: 100%;
            height: 100%;
            object-fit: contain;
        }
    }
    .side {
        display: inline-block;
        &-left {
            width: 45%;
            height: auto;
            img {
                width: 100%;
                height: 100%;
                object-fit: contain;
            }
        }
        &-right {
            width: 45%;
            button {
                margin-bottom: 16px;
                font-size: 1.3rem;

                @media screen and (max-width: 768px) {
                    font-size: 1rem;
                }
            }
        }
    }

    /* CSS */
    .btn-primary {
        align-items: center;
        appearance: none;
        background-color: #8b5539;
        border-radius: 4px;
        border-width: 0;
        box-shadow:
            rgba(45, 35, 66, 0.4) 0 2px 4px,
            rgba(45, 35, 66, 0.3) 0 7px 13px -3px,
            #d6d6e7 0 -3px 0 inset;
        box-sizing: border-box;
        color: white;
        cursor: pointer;
        display: inline-flex;
        font-family: "Source Code Pro", monospace;
        height: 48px;
        justify-content: center;
        line-height: 1;
        list-style: none;
        overflow: hidden;
        padding-left: 16px;
        padding-right: 16px;
        position: relative;
        text-align: left;
        text-decoration: none;
        transition:
            box-shadow 0.15s,
            transform 0.15s;
        user-select: none;
        -webkit-user-select: none;
        touch-action: manipulation;
        white-space: nowrap;
        will-change: box-shadow, transform;
        font-size: 18px;
    }

    .btn-primary:focus {
        box-shadow:
            #d6d6e7 0 0 0 1.5px inset,
            rgba(45, 35, 66, 0.4) 0 2px 4px,
            rgba(45, 35, 66, 0.3) 0 7px 13px -3px,
            #d6d6e7 0 -3px 0 inset;
    }

    .btn-primary:hover {
        box-shadow:
            rgba(45, 35, 66, 0.4) 0 4px 8px,
            rgba(45, 35, 66, 0.3) 0 7px 13px -3px,
            #d6d6e7 0 -3px 0 inset;
        transform: translateY(-2px);
    }

    .btn-primary:active {
        box-shadow: none !important;
        transform: translateY(2px);
        background: #8b5539 !important;
        color: black;
    }
}
