.peta {
    z-index: 12;
    background: black;
    .leaflet-layer,
    .leaflet-control-zoom-in,
    .leaflet-control-zoom-out,
    .leaflet-control-attribution {
        filter: invert(100%) hue-rotate(180deg) brightness(95%) contrast(90%);
    }
    &__image {
        // position: absolute;
        // inset: 0;
        // width: 100%;
        // height: 100%;
        img {
            width: 100%;
            height: 100%;
            object-fit: contain;
        }
    }
    .leaflet-popup p {
        font-size: 90% !important;
        font-family: "Rubik";
        color: black;
    }
    .leaflet-container {
        height: 65vh;
        margin: 0 auto;
        position: relative;
        z-index: 18;
        width: 65%;
        max-width: 100%;
        max-height: 100%;
        h3 {
            font-family: "Rubik";
            font-size: 1.3rem;
            color: #247a02 !important;
            @media screen and (max-width: 768px) {
                font-size: 1.2rem;
            }
        }
        @media screen and (max-width: 768px) {
            width: 80%;
            height: 420px;
        }
    }
    .color-white {
        color: #333;
    }
    .color-grey {
        color: #ccc;
    }
    .box-angka {
        background: #ececec;
        width: fit-content;
        // margin: 0 auto;
        display: inline-block;
        padding: 8px;
        border-radius: 8px;
        h3 {
            font-weight: bold;
            color: #247a02;
            margin-bottom: 0;
        }
    }
    .ket {
        display: inline-block;
        margin: 0 8px;
    }
    .bulat {
        display: inline-block;
        width: 10px;
        height: 10px;
        border-radius: 50%;
        vertical-align: middle;
        &-oren {
            background: #ff7800;
        }
        &-biru {
            background: #4a86e8;
        }
    }
    .namx {
        display: inline-block;
        font-size: 14px;
        color: #ccc;
        vertical-align: middle;
        margin-left: 1px;
    }
    h4 {
        color: #ccc;
    }
}
